This file is to expain what assignment 1 requirements are.

Requirements

1) Create GitHub account.

2) Create a private repository named CFG-Assignments for CFGDegree Foundation Module Assignments.

3) Create a README.md file and use at least six different markdown text formatting features.

4) Demonstrate following commands;
    git status : Checking the status.
    git branch <new branch> : Creating a branch.
    git add : Adding files to a branch.
    git commit -m "messages" : Adding commits with meaningful messages.
    In remote repository, open pull request by clicking Create request after pushing to a branch.
    In remote repository, Merge to main repository from another branch.
    *Extra commands I did as I updated README file in remote repository.
    git pull : pull request to get the most up-to-date version of the remote repository in my local repository before I push my latest files.

5) Add screenshots of the process and add README file.

6) Create .gitignore file. I wrote '*.xls' and 'ignore*' in the file; 
    *.xls : telling to ignore any xls files.
    ignore* : telling to ignore any type of files starting a name with a word 'ignore'.
    
7) Create requirements.txt file. I am writing what tasks I have to do in this assignments.

8) Add my assigned instructor, Stavros, as a collaborator to my repository.
